@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply dark:bg-background-dark bg-background-light dark:text-primary-dark text-primary-light font-serif;
  }
}

@layer utilities {
  .external-link {
    @apply dark:text-violet-500 text-indigo-600 hover:bg-indigo-200 pr-3 rounded-sm dark:hover:bg-violet-950 transition-colors duration-300 relative;
  }
  .external-link::after {
    @apply absolute top-1 right-[6px] w-2 h-2 border-2 border-indigo-600 dark:border-violet-600 rounded-full translate-x-1/2 -translate-y-1/2;
    content: "";
  }
  .small-caps {
    font-variant: all-small-caps;
  }
}

.post {
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-2xl font-medium mt-8 relative w-fit;
  }
  h2::after {
    @apply block w-12 h-1 bg-muted-light absolute left-0 dark:bg-muted-dark mt-2 rounded-sm;
    content: "";
  }
  h3,
  h4,
  h5,
  h6 {
    @apply text-xl font-medium mt-8 text-accent-light dark:text-accent-dark;
  }
  p {
    @apply leading-loose sm:leading-[2] my-4 overflow-x-auto sm:text-lg;
  }
  img {
    @apply mx-auto my-6 rounded-lg;
  }
  div.sourceCode {
    @apply p-4 rounded-lg;
  }
  ol,
  ul {
    @apply list-inside leading-loose;
  }
  ul {
    @apply list-disc ml-2;
  }
  ol {
    counter-reset: item;
  }

  ol li {
    display: block;
  }

  ol li:before {
    content: counters(item, ".") ". ";
    counter-increment: item;
  }

  ol ol {
    li {
      @apply ml-2;
    }
    counter-reset: subitem;
  }

  ol ol li:before {
    @apply ml-4;
    content: counter(item, upper-alpha) ". ";
    counter-increment: subitem;
  }

  ol ol ol li:before {
    content: counter(subitem, lower-roman) ". ";
  }
  li {
    @apply my-1;
  }
  hr {
    @apply border-0 h-2 bg-muted-light dark:bg-muted-dark my-10 max-w-12 mx-auto rounded-xl;
  }
  blockquote {
    @apply border-l-4 border-accent-light dark:border-accent-dark text-accent-light dark:text-accent-dark italic my-4 px-4 py-0.5 h-fit;
  }
  blockquote > p {
    @apply m-0;
  }
  a:not(code a) {
    @apply external-link;
  }
  figure {
    @apply inline-block my-2;
  }
  figure img {
    @apply align-top mb-2;
  }
  figure figcaption {
    @apply text-center;
  }
  details {
    @apply cursor-pointer;
  }
  details summary {
    @apply mb-1;
  }
}
